.home_section .home_head .title{
    font-size: 50px;
    font-weight: 600;
}   
.intro{
    margin-top: 50px;
    border : 2px solid black;
    display: flex;
    align-items: left;
    flex-direction: column;
}